name: Code coverage

on:
  push:
    branches-ignore:
      - 'dependabot/**'
  pull_request:

jobs:
  Codecov:
    name: Code coverage
    if: ${{ !startsWith(github.ref, 'refs/tags/') }}
    runs-on: ubuntu-latest
    steps:
      - name: Install Ubuntu packages
        run: |
          sudo apt-get update
          sudo apt-get install cxxtest lcov

      - name: Checkout JSBSim
        uses: actions/checkout@v6

      - name: Configure JSBSim
        run: |
          mkdir build && cd build
          cmake -DENABLE_COVERAGE=ON -DBUILD_PYTHON_MODULE=OFF -DBUILD_DOCS=OFF ..

      - name: Build JSBSim
        working-directory: build
        run: make --jobs=$(nproc)

      - name: Run JSBSim tests (parallel execution)
        working-directory: build
        run: ctest -R Test1 --output-on-failure --parallel $(nproc)

      - name: Generate coverage report with branch coverage
        working-directory: build
        run: |
          # Generate lcov report with branch coverage enabled
          make lcov
          # Add branch coverage data
          lcov --capture --directory . --output-file coverage_with_branches.info \
               --rc lcov_branch_coverage=1 --ignore-errors mismatch
          # Remove external/test files
          lcov --remove coverage_with_branches.info \
               '*/usr/*' '*/tests/*' '*/GeographicLib/*' '*/simgear/*' \
               --output-file coverage_filtered.info \
               --rc lcov_branch_coverage=1 --ignore-errors unused

      - name: Upload to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: ./build/coverage_filtered.info,./build/lcov/data/capture/all_targets.info
          disable_search: true
          fail_ci_if_error: true
          flags: unittests
